
.bottomProfileSection{
    // background-color: aqua;
    padding: 3%;

    .btn{
        width: 100%;
        font-size: 1.2em;
        text-transform: uppercase;
        background-color: white;
        border:0;
        color: $bnearit-color;
    }

    .icon-text-wrapper{
        display: -webkit-flex;
        -webkit-flex-flow: row wrap;
        -webkit-align-items: initial;
        display: flex;
        flex-flow: row wrap;
        align-items: initial;
        justify-content: space-around; 

        .icon-text-holder{
            width: 22%;
            color: $bnearit-color;
            padding: 1% 1.5%;
            text-align: center;
            &.ic-active{
                background-color: $bnearit-color;
                color: #fff;
            }

            .icon-text{
                font-size: .65em;
            }
        }
    }
} 