

.profile-section{
    width: 210px;
    // min-height: 315px;
    box-shadow: 0 0 5px #dad2d2;
    margin: 10px .7vw;

    @media all and (min-width: 970px){
        
    }

    @media all and (min-width: 1440px){

    }
} 